body{
    background-color: #fcebb6;
    color:#221811;
    font-family: Tahoma, Arial, sans-serif;
    background-image: url("images/fadedroad50.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
header{
    background-color: #d2b48c;
    color: #231814;
    padding-top: 5px;
    padding-bottom: 5px;
    background-image: url("images/coffeelogo.jpg");
    background-repeat: no-repeat;
    padding-left: 240px;
}
header a:link {text-decoration: none; color: #231814;}
header a:visited {text-decoration: none; color: #231814;}
header a:hover {text-decoration: none; color: #fef6c2;}
h1{
    font-size: 3em;
}
h2{
    color: #8c3826;
    padding-left: 3em;
    padding-right: 2em;
}
h3{
    color: #8c3826;
    padding-left: 3em;
    padding-right: 2em;
}
h4{
    background-color: #d2b48c;
    font-size: 1.2em;
    padding-left: .5em;
    padding-bottom: .25em;
    padding-left: 3em;
    padding-right: 2em;
    text-transform: uppercase;
    padding-bottom: 0em;
}
p{
    padding-left: 3em;
    padding-right: 2em;
}
div{
    padding-left: 3em;
    padding-right: 2em;
}
ul{
    padding-left: 3em;
    padding-right: 2em;
}
dl{
    padding-left: 3em;
    padding-right: 2em;
}
nav{
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
    width: 200px;
}
nav a{
    text-decoration: none;
}
nav a:link {color: #fef6c2;}
nav a:visited {color: #d2b48c;}
nav a:hover {color: #cc9933;}
nav ul{
    list-style-type: none;
    padding-left: 0em;
}
footer{
    background-color: #d2b48c;
    font-size: .60em;
    text-align: center;
    font-style: italic;
    padding: 1em;
    border-top: #8c3826;
    border-width: 2px;
}
#wrapper{
    width: 80%;
    min-width: 900px;
    max-width: 1280px;
    background-color: #231814;
    /*background-color: #fefaeb;*/
    margin-right: auto;
    margin-left: auto;
    box-shadow: inset;
    padding: 0em;
}
dt{
    color: #8c3826;
}
main{
    padding-left: 0em;
    padding-right: 0em;
    padding-bottom: 2em;
    display: block;
    margin-left: 200px;
    padding-top: 0em;
    background-color: #fef6c2;
    overflow: auto;
}
.details{
    padding-left: 20%;
    padding-right: 20%;
    overflow: auto;
}
img{
    padding-left: 10px;
    padding-right: 10px;
}
#homehero{
    height: 300px;
    background-image: url("images/hero.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#heromugs{
    height: 300px;
    background-image: url("images/heromugs.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#heroguitar{
    height: 300px;
    background-image: url("images/heroguitar.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.floatleft{
    float: left;
    padding-left: 2em;
    padding-right: 2em;
}
.onethird{
    float: left;
    width: 33%;
}
* {box-sizing: border-box;}